.slider {
  background-image: url("../assets/banner-bg.png");
  background-size: cover;
}

.landingImage {
  position: relative;
  animation: up-and-down 3s linear infinite;
  max-width: 600px;
}

@keyframes up-and-down {
  0%,100% {
      top: 0;
  }
  50% {
      top: -30px;
  }
}
